.table-board {
    width: 360px;
    height: 360px;
}
.table-board tr {
    height: 40px;
}
.table-board td {
    width: 40px;
    text-align: center;
}
.table-first tr:not(:first-child) td:first-child,
.table-first tr:not(:first-child) td:last-child,
.right-border {
    border-right-color: black !important;
    border-right-width: 2px !important;
}
.table-first tr:first-child td:not(:first-child),
.table-first tr:last-child td:not(:first-child),
.bottom-border {
    border-bottom-color: black !important;
    border-bottom-width: 2px !important;
}
.right-border-hidden,
.right-no-border {
    border-right-color: grey !important;
    border-right-style: dotted !important;
    border-right-width: 2px !important;
}
.bottom-border-hidden,
.bottom-no-border {
    border-bottom-color: grey !important;
    border-bottom-style: dotted !important;
    border-bottom-width: 2px !important;
}